<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Logo -->
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/logo.png}" alt="Expense Manager Logo" height="30">
    </a>
    <a class="navbar-brand" th:href="@{/}">Expense Manager</a>

</nav>
<div class="container mt-5" style="padding-top: 70px;">
    <h2>Add Member</h2>
    <form th:action="@{/group/addMember(groupId=${group.id})}" method="post" th:object="${group}">
        <input type="hidden" th:value="*{id}">
        <div class="form-group">
            <label>Group Name:</label>
            <input type="text" class="form-control" th:field="*{groupName}" readonly>
        </div>
        <div class="form-group">
            <label for="type">Group Type:</label>
            <input type="text" class="form-control" id="type" th:field="*{groupType}" readonly>
        </div>
        <div class="form-group">
            <label>Existing Group Users:</label>
            <div class="form-check">
                <ul th:each="user : ${group.groupUsers}">
                    <li th:text="${user.firstName + ' ' + user.lastName}"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="groupUsers">Add Member/s:</label>
            <select id="groupUsers" class="custom-select" th:field="*{groupUsers}" multiple required>
                <option th:each="user : ${allUsers}" th:unless="${group.groupUsers.contains(user)}" th:value="${user.id}" th:text="${user.firstName} + (${user.lastName != null}? ' ' + ${user.lastName} : '')"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Member</button>
        <a th:href="@{/group/details(groupId=${group.id})}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>
