<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account Feedback</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5" style="margin-top: 70px;">
    <h2 class="text-center mb-4">Account Deletion Feedback</h2>
    <form th:action="@{/profile/deleteAccountFeedback}" method="post" th:object="${feedBackForm}">
        <div class="form-group">
            <label for="reason">What was the reason for deleting your account?</label>
            <select class="form-control" id="reason" th:field="*{type}">
                <option th:value="'Personal reasons'">Personal reasons</option>
                <option th:value="'Dissatisfied with service'">Dissatisfied with service</option>
                <option th:value="'other'">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="feedback">Please provide feedback about your account deletion:</label>
            <textarea class="form-control" id="feedback" th:field="*{feedBack}" rows="5" placeholder="Your feedback"></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Submit Feedback</button>
    </form>
</div>
</body>

</html>
