<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Group</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Logo -->
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/logo.png}" alt="Expense Manager Logo" height="30">
    </a>
    <a class="navbar-brand" th:href="@{/}">Expense Manager</a>

</nav>

<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="margin-top: 70px;">
    <div class="col-lg-6">
        <div class="card p-4">
            <h2 class="text-primary mb-4">Create Group</h2>

            <form th:action="@{/group/processUpdate}" method="POST" th:object="${group}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="groupName">Group Name</label>
                    <input type="text" id="groupName" class="form-control" th:field="*{groupName}" required>
                </div>

                <div class="form-group">
                    <label>Group Type</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{groupType}" th:value="Travel" id="travel" required>
                        <label class="form-check-label" for="travel">Travel</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{groupType}" th:value="Flatmates" id="flatmates" required>
                        <label class="form-check-label" for="flatmates">Flatmates</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{groupType}" th:value="Food" id="food" required>
                        <label class="form-check-label" for="food">Food</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{groupType}" th:value="Party" id="party" required>
                        <label class="form-check-label" for="party">Party</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{groupType}" th:value="Other" id="other" required>
                        <label class="form-check-label" for="other">Other</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
