<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
    <h2>Group Details</h2>
    <h4 th:text="${group.groupName}"></h4>
    <p th:text="${group.groupType}"></p>
    <hr>
    <h3>Users in the Group:</h3>
    <ul>
        <li th:each="user : ${groupUsers}" th:text="${user.userName}"></li>
    </ul>
    <hr>
    <h3>Expenses in the Group:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Paid By</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${groupExpenses}">
            <td th:text="${expense.description}"></td>
            <td th:text="${expense.date}"></td>
            <td th:text="${expense.amount}"></td>
            <td th:text="${expense.paidBy.userName}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/group/all}" class="btn btn-primary">Back to All Groups</a>
</div>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
