<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Reset Password</h2>
            <form th:action="@{/resetPassword}" th:method="post" th:object="${passwordForm}">
                <input type="hidden" name="token" th:value="${token}">
                <input type="hidden" th:field="*{oldPassword}">
                <!-- Place for messages: error, alert, etc. -->
                <div class="form-group">
                    <div>
                        <!-- Check for registration error -->
                        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger mb-3">
                            <ul>
                                <li th:each="error : ${#fields.globalErrors()}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" th:field="*{newPassword}" placeholder="New Password" required>
                </div>
                <div th:if="${#fields.hasErrors('newPassword')}" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('newPassword')}" th:text="'New Password ' + ${err}" />
                    </ul>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Confirm New Password" required>
                </div>
                <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="'Confirm Password ' + ${err}" />
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
